@font-face {
font-family: grifter;
src: url("fonts/grifter.otf") format("opentype");
}

@font-face {
font-family: krona one;
src: url("fonts/krona-one.ttf") format("truetype");
}


@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  html, body {
    margin : 0 0 0 100px;
    padding: 0;
    width: 100%;
    background-color: white;
    color: #4B4B4B;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  .home {
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

 .bloc {
   width: 100%;
   padding: 0 0 0 30px;
   height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .bloc h1 {
  font-family: grifter;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  line-height: 90px;
  font-size: 70px;
 }

 .bloc p {
   font-size: 25px;
   position: relative;
   opacity: 0;
   transform: translateY(-30px);
   animation: apparition 0.8s 0.8s ease-out forwards;
   margin-bottom: 25px;
 }


 .demo-click a {
   width: 100%;
   display: flex;
   text-decoration: none;
   justify-content: flex-start;
 }

  .demo-click span {
    margin-top: 8px;
    color: #4B4B4B;
    opacity: 0.8;
  }

 .demo-click img {
   width: 2%;
   opacity: 0.6;
   margin: 0 20px 0 0;
 }

 .about {
  font-family: 'Tajawal', sans-serif;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  animation: apparition 0.4s 0.4s ease-out forwards;
 }

 .about-text {
   width: 70%;
   height: 80vh;
   line-height: 40px;
   text-align: justify;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
 }

 .contact-text {
   width: 800px;
   height: 80vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
 }

 .virtual-tour {
  width: 100%;
  height: 70vh;
  margin: 0;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

iframe {
  width: 65%;
}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  html, body {
    margin : 0 0 0 100px;
    padding: 0;
    width: 100%;
    background-color: white;
    color: #4B4B4B;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  .home {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bloc {
  width: 100%;
  height: 100vh;
  padding: 0 0 0 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloc h1 {
  font-family: grifter;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  line-height: 80px;
  font-size: 60px;
}

.bloc p {
  font-size: 20px;
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.8s ease-out forwards;
  margin-bottom: 30px;
}


.demo-click a {
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
}

 .demo-click span {
   margin-top: 8px;
   color: #4B4B4B;
   opacity: 0.8;
 }

.demo-click img {
  width: 2%;
  opacity: 0.6;
  margin: 0 20px 0 0;
}

.about {
 font-family: 'Tajawal', sans-serif;
 width: 100%;
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 opacity: 0;
 animation: apparition 0.4s 0.4s ease-out forwards;
}

.about-text {
  width: 70%;
  height: 80vh;
  line-height: 40px;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}


.contact-text {
  width: 800px;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.virtual-tour {
  width: 100%;
  height: 70vh;
  margin: 0;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

iframe {
  width: 65%;
}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  html, body {
    margin : 0 0 0 60px;
    padding: 0;
    width: 100%;
    background-color: white;
    color: #4B4B4B;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  .home {
  width: 73%;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

  .bloc {
    width: 100%;
    height: 500px;
    padding: 0 0 0 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .bloc h1 {
    font-family: grifter;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    line-height: 100px;
    font-size: 90px;
  }

  .bloc p {
    font-size: 30px;
    position: relative;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.8s ease-out forwards;
    margin-bottom: 25px;
  }


  .demo-click a {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
  }

   .demo-click span {
     margin-top: 8px;
     color: #4B4B4B;
     opacity: 0.8;
   }

  .demo-click img {
    width: 4%;
    opacity: 0.6;
    margin: 0 20px 0 0;
  }

  .about {
   font-family: 'Tajawal', sans-serif;
   width: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   opacity: 0;
   animation: apparition 0.4s 0.4s ease-out forwards;
  }

  .about-text {
    width: 70%;
    height: 90vh;
    line-height: 40px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .contact-text {
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .virtual-tour {
    width: 100%;
    height: 50vh;
    margin: 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

  iframe {
  width: 65%;
}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  html, body {
      margin : 0 0 0 60px;
      padding: 0;
      width: 100%;
      background-color: white;
      color: #4B4B4B;
      font-family: 'Tajawal', sans-serif;
      scroll-behavior: smooth;
      -webkit-font-smoothing: antialiased;
      overflow-x: hidden;
    }

    .home {
      width: 73%;
      height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .bloc {
      width: 100%;
      height: 500px;
      padding: 0 0 0 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .bloc p {
       font-size: 30px;
       position: relative;
       opacity: 0;
       transform: translateY(-30px);
       animation: apparition 0.8s 0.8s ease-out forwards;
       margin-bottom: 25px;
     }


     .demo-click a {
       width: 100%;
       display: flex;
       text-decoration: none;
       justify-content: flex-start;
     }

      .demo-click span {
        margin-top: 8px;
        color: #4B4B4B;
        opacity: 0.8;
      }

     .demo-click img {
       width: 2%;
       opacity: 0.6;
       margin: 0 20px 0 0;
     }

    .about {
     font-family: 'Tajawal', sans-serif;
     width: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     opacity: 0;
     animation: apparition 0.4s 0.4s ease-out forwards;
    }

    .about-text {
      width: 70%;
      height: 100vh;
      line-height: 40px;
      text-align: justify;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }

    .contact-text {
      width: 500px;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }

    .virtual-tour {
      width: 100%;
      height: 50vh;
      margin: 0;
      display:flex;
      justify-content: flex-start;
      align-items: center;
    }

      iframe {
      width: 90%;
    }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  html, body {
    margin : 0 0 0 50px;
    padding: 0;
    width: 100%;
    background-color: white;
    color: #4B4B4B;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  .home {
    width: 73%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .bloc {
  width: 100%;
  height: 70vh;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  }

  .bloc h1 {
    font-family: grifter;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    line-height: 100px;
    font-size: 90px;
  }

  .bloc p {
     font-size: 30px;
     position: relative;
     opacity: 0;
     transform: translateY(-30px);
     animation: apparition 0.8s 0.8s ease-out forwards;
     margin-bottom: 25px;
   }


   .demo-click a {
     width: 100%;
     display: flex;
     text-decoration: none;
     justify-content: flex-start;
   }

    .demo-click span {
      margin-top: 8px;
      color: #4B4B4B;
      opacity: 0.8;
    }

   .demo-click img {
     width: 2%;
     opacity: 0.6;
     margin: 0 20px 0 0;
   }

  .about {
   font-family: 'Tajawal', sans-serif;
   width: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0 0 0 30px;
   opacity: 0;
   animation: apparition 0.4s 0.4s ease-out forwards;
  }

  .about-text {
    width: 56%;
    height: 100vh;
    line-height: 40px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .contact-text {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .virtual-tour {
    width: 100%;
    height: 80vh;
    margin: 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

    iframe {
    width: 100%;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

html, body {
  margin : 0 0 0 10px;
  padding: 0;
  width: 100%;
  background-color: white;
  color: #4B4B4B;
  font-family: 'Tajawal', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.home {
  width: 100%;
  height: 500px;
  margin: 0 0 0 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bloc {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.bloc h1 {
  font-family: grifter;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  line-height: 74px;
  font-size: 60px;
}

.bloc p {
   font-size: 17px;
   position: relative;
   opacity: 0;
   transform: translateY(-30px);
   animation: apparition 0.8s 0.8s ease-out forwards;
   margin-bottom: 25px;
 }


 .demo-click a {
   width: 100%;
   display: flex;
   text-decoration: none;
   justify-content: flex-start;
 }

  .demo-click span {
    font-size: 10px;
    margin-top: 1px;
    color: #4B4B4B;
    opacity: 0.8;
  }

 .demo-click img {
   width: 5%;
   opacity: 0.6;
   margin: 0 20px 0 0;
 }

.about {
 font-family: 'Tajawal', sans-serif;
 width: 100%;
 margin: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 padding: 40px 0 0 20px;
 opacity: 0;
 animation: apparition 0.4s 0.4s ease-out forwards;
}

.about-text {
  width: 70%;
  height: 100vh;
  line-height: 40px;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.contact-text {
  width: 82%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

  .virtual-tour {
    width: 100%;
    height: 55vh;
    margin: 0 0 20px 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

    iframe {
    width: 85%;
  }

}


/*rest of the css*/

nav {
  width: 65%;
  padding: 30px 80px 40px 0;
  letter-spacing: 1px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-50px);
  animation: apparition 0.3s 1.3s ease-out forwards;
}

  .link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;

  }

  .link::before,
  .link::after {
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
  }

  .link::before {
      content: '';
      /* show by default */
  }

  .link--anim {
      text-transform: lowercase;
  }

  .link--anim::before {
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
  }

  .link--anim:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
  }


.bloc h1 > span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
}

.bloc h1 > span:nth-child(1) {
  animation: apparition 0.8s 0.3s ease-out forwards;
}

.bloc h1 > span:nth-child(2) {
  animation: apparition 0.8s 0.5s ease-out forwards;
}

.bloc h1 > span:nth-child(3) {
  animation: apparition 0.8s 0.7s ease-out forwards;
}


.box-btn {
  margin-top: 10px;
}

.box-btn > a {
  position: relative;
  left: 10px;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid grey;
  border-radius: 3px;
  opacity: 0;
  animation: apparition 0.8s 1s ease-out forwards;
}

.box-btn:hover {
  opacity: 0.6;
}


.contact {
  width: 100%;
  line-height: 25px;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  animation: apparition 0.4s 0.4s ease-out forwards;
}


address > ul {
  list-style-type: none;
  font-style: normal;
  line-height: 40px;
  padding: 0;
  margin: 0;
}


@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
    transform: translateY(-30px);
  }
}
